<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

<connectionStrings><add name="VoorbeeldModelContainer" connectionString="metadata=res://*/VoorbeeldModel.csdl|res://*/VoorbeeldModel.ssdl|res://*/VoorbeeldModel.msl;provider=System.Data.SqlClient;provider connection string='data source=ASUS-KREMER;initial catalog=&quot;Voorbeeld Database&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
